 

@media all and (max-width: 1400px){ 
    .banner_intergrates img {
        width: 80px;
    }
    .banner_left h2 { 
        font-size: 36px; 
        line-height: 44px;
    }
}

@media all and (max-width: 1199px){
    .logo img {
        width: 120px;
    } 
    .menu ul { 
        gap: 16px;
    }
    .our_platform_area .section_title {
        width: 100%; 
    }
    .customer_carousel .owl-prev {
        position: inherit;
        top: inherit;
        left: inherit;
    } 
    .customer_carousel .owl-next {
        position: inherit;
        top: inherit;
        right: inherit;
    }
    .section_title p { 
        width: 100%;  
    }
    .menu ul {
        gap: 10px;   
    }
}

@media all and (min-width: 991px){
    .menu { 
        display: block !important;
    }
    .menu ul {
        display: flex !important;
    }
}

@media all and (max-width: 991px){
    .menu {  
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: 100%;
        padding: 25px 0;
        z-index: 99;
        display: none;
    }
    .menu ul {
        gap: 10px !important;  
        flex-direction: column;
        align-items: center;
    }
    .main_header { 
        position: relative;
    } 
    .desktop_show{
        display: none;
    } 
    .mobile_show{
        display: block;
    } 
    .mobile_bars{
        display: block;
    }
    .logo img {
        width: 140px;
    }
    .banner_intergrates.possible_img  img {
        width: 51px;
    }
    .single_system h5 { 
        font-size: 16px; 
    }
    .banner_left h2 {
        font-size: 30px; 
    }
    .operation_left {
        width: 100%;
        text-align: center;
    }
    .operation_btn { 
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 0;
    }
    .single_system { 
        gap: 15px;
    }
    .single_trusted img {
        width: 112px;
    }
    .customer_area .section_title {
        width: 100%;
    }

}

@media all and (max-width: 767px){
    .banner_left h2 {
        font-size: 32px;
    }
    .banner_img {
        margin-top: 40px;
    }
    .section_padding {
        padding: 45px 0;
    }
    .system_contetnt {
        margin-top: 25px;
    }
    .footer { 
        flex-direction: column;
        gap: 28px;
    }
    .banner_left > p { 
        font-size: 16px; 
    }
    .banner_left h5 { 
        font-size: 16px; 
    }
    .integrate_with {
        flex: 0 0 100%;
    }
    .banner_intergrates ul { 
        flex-wrap: wrap;
        gap: 15px;
    }
    .banner_intergrates img {
        width: 105px;
    }
    .business_retail_video {
        width: 94%;
        margin: 0 auto;
    }
    .business_retail_video iframe { 
        height: 400px;
    }
    .footer_area {
        padding-top: 45px;
    }
    .footer_social ul { 
        gap: 40px;
        justify-content: center;
        margin-top: 35px;
    }
    .footer_copy_right p { 
        line-height: 28px; 
    }
    .section_title p { 
        font-size: 16px; 
    }
    
}

@media all and (max-width: 575px){
	.section_title h2 { 
        font-size: 32px;
        line-height: 40px; 
    }
    .section_title p { 
        font-size: 14px; 
        line-height: 20px;
    }
}

@media all and (max-width: 450px){
	
}
 
